:root {
    --primary-color: rgb(97, 79, 52);
    --background-color: rgb(204, 192, 153);
    --secondary-color: rgb(57, 37, 143);
    --font-family: 'Times New Roman', Times, serif;
    --hover-color: rgb(25, 0, 255);
}

/* header styles */
header {
    grid-area: head;
    text-align: center;
    margin-bottom: 50px; 
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
nav {
    margin-top: 10px;
    grid-area: nav;
    padding-right: 20px;
    position: fixed;
    top: 18%;
}

/* body styles */
body {
    margin: 50px;
    font-family: var(--font-family);
    color: var(--primary-color);
}

main {
    grid-area: main;
    padding: 8%;
    margin-left: 5%;
    margin-right: 10%;
    border: 1px solid var(--primary-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgb(245, 245, 220,0.9);
}
main h1 {
    display: block;
    font-size: 38px;
    border-bottom: 3px solid var(--primary-color);
    text-align: center;
}

ul em {
    color: var(--primary-color);
    font-family: sans-serif;
    text-decoration: underline;
}
ul strong {
    color: var(--primary-color);
    font-family: sans-serif;
    text-decoration: underline;
    font-family: sans-serif;
    text-decoration: underline;
}
#skills caption {
    font-family:Verdana;
    display:block;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    position:left 50px;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
}
#skills tr th {
    width: 200px;
    text-align: left;
    border-right: 3px solid var(--primary-color);
}
#skills tr th:hover {
    text-decoration: underline;
}
#skills tr td {
    width: auto;
    margin-left: 10px;
    border-bottom: 1px solid var(--primary-color);
}
#skills tr td:hover {
    text-decoration: underline;
}
#Short-term {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#Short-term div:hover {
    border-color:rgb(0, 0, 0);
    background-color: rgb(206, 206, 252);
}
#Short-term div {
    padding: 5px;
    width : 20%;
    border : 1px solid rgb(5, 5, 44);
    margin: 5px;
}
#Short-term div {
    padding: 5px;
    width : 20%;
    border : 2px solid rgb(5, 5, 44, 0.5);
    border-radius: 1px;
    margin: 5px;
    background-color: rgb(206, 206, 252, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#Short-term div video {
    width: 97%;
    height: auto;
}
input[type="text"], input[type="email"], textarea, input[type="tel"], select, button, input[type="submit"] {
    border-radius: 1px;
    border: 1px solid var(--primary-color);
    background-color: rgb(198, 232, 238, 0.5);
 
}
/* link styles */
a {
    color: var(--secondary-color);
}
a:hover {
    color: var(--hover-color);
}

/* footer styles */
footer {
    margin-top: 20px;
    padding-top: 10px;
    grid-area: foot;
    text-align: center;
    border-top: 3px solid var(--primary-color);
    padding-top: 10px;
}
footer h3 {
    color: var(--primary-color);
    font-size: 18px;
    text-decoration: underline;
}
footer div {
    font-size: 14px;
    color: rgb(0, 0, 0);
}
article {
    grid-area: article;
    padding: 20px;
}
article>p>span {
    color: rgb(0, 0, 0);
    font-size: 14px;
}
article>p>span>a {
    color: var(--secondary-color);
    text-decoration: underline;
}
article>p>span>a:hover {
    color: var(--hover-color);
}